body{
	margin:0;
	padding:0;
	height:100%;
	width: 100%;
	box-sizing: border-box;
}
.page{
	display:grid;
	margin:0;
	padding:0;
	box-sizing: border-box;
	width:100%;
	grid-template-columns: 5fr 1fr;
	grid-template-rows: 60px 90vh;
	grid-template-areas: "header aside"
						 "main main";
}
.header{
	grid-area: header;
	background-color: black;
	color:white;
	width: 100%;
	position: relative;
	height: 100%	;	
	display:flex;
	justify-content: space-between;
}
.main{
	grid-area: main;
	background-color: #fafafa;
	padding: 40px;
}
.aside{
	grid-area: aside;
	background-color: #ccc;
	min-width: max-content;
}
a{
	text-decoration: none;
	text-transform: none;
}
a:link{
	text-decoration: none;
}
.content{
	height: 100%;
	width: 100%;
	position: relative;
}
.barraBotoes{
	float:right;
	align-self:center;
	padding: 0;
}
.tituloPaginas{
	display:flex;
	justify-content: space-between;
}
.informacoes{
	position: relative;
	right: 0;
	top:0;
	padding:0;
	margin:0;
	width:100%;
	height:100%;
}
.infoUser{
	position:relative;
	color:white;
	background-color: #373737;
	height: 100%;
	width:100%;
	margin:0;
	padding:0;;
}
.infoUser span{
	color:white;
	padding-left:10px;;
}
.imgUser{
	width: 40px;
	height: 40px;
	border-radius: 20px;
}
.colunaAcao{
	text-align: end;
}
.menuUser{
	width: 100%;
  	transform: translate3d(0px, 66px, 0px) !important;
}
.logo{
	display: flex;
	padding:10px;
}
.logo img{
	position:relative;
	max-width: 100px;
	vertical-align: middle;
}
.botoesMenuHeader{
	padding-left: 30px;
	padding-right: 30px;
	color:white;
}
.botoesMenuHeader:hover{
	background-color: white;
}
.menuHeader{
	display:flex;
	justify-content: start;	
	position:relative;
	width: 100%
}

input[type="checkbox"]{
	width: 20px;
	height: 20px;
}

label{
	font-weight: bold;
}
.detalhe{
	margin: 20px 0 20px 0;
	padding: 20px;
	border: 3px solid #ccc;
	position:relative;
	overflow: auto;
}
.permissoesCargo{
	height: 48vh;
	max-height: 48vh;
}
 
.permissoesCargo::-webkit-scrollbar {
    width: 8px;
}
  
.permissoesCargo::-webkit-scrollbar-thumb {
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background: #619bd9; 
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
}

a[disabled], button[disabled]{
	cursor:no-drop;
}

input[disabled]{
	cursor: text;
}

.kpiIndex{
	display: flex;
	flex-wrap: wrap;
	max-width: 1000px;
	margin: 0 auto;
	align-items: center;	
}
.kpiIndex div{
	flex: 1 1 300px;
	background-color: black;
	color: white;
	margin: 10px;
	height: 120px;
	display: flex;
	align-items: center;
	justify-content: center;
	opacity: 0.8;
	transition: all .4s ease;
}
.kpiIndex div:hover{
	transform: scale(1.5);
	border-radius: 30px;
	opacity:1;
}
.kpiIndex div span{
	text-align: center;
}
.bemvindo{
	margin-bottom: 50px;
}
#iframePedidoVenda{
	width: 100%;
	height: 100%;
	display: none;
	border:0;
	overflow:hidden;
}

legend{
	border:1px solid #6c6c6c;
	padding:2px 10px 2px 10px;
	font-weight: bold;
}
.fieldsetProdutos{
	margin: 20px 0;
	height: 40vh;
	max-height: 40vh;
	padding-top:0;	
	overflow-y: scroll;
	overflow-x: hidden;
}
@media(max-width: 600px){
	.fieldsetProdutos{
		overflow-x: scroll;
	}
}
.fieldsetProdutos legend {
	text-align: center;
}
.tabelaProdutos{
	margin:-3px;
}
.tabelaProdutos th, .tabelaProdutos td{
	padding-left: 15px;
	padding-right: 15px;
}

.controlesPV{
	display:flex;
	justify-content: space-between;
}
#teste{
	height: 80%;
	overflow: scroll;
}
.divCarregamento{
	position: absolute;
	height: 100%;
	width: 100%;
	opacity: 0.3;
	background-color: black;
	display: none;
	color: white;
	justify-content: center;
	align-items: center;
}

.carregando{
	color:white;
	font-size: 60px;
	font-weight: bold;
	opacity: 1
}
.descricaoProduto{
	min-height: 200px;
	padding:10px;
	word-break: break-word;
}
.tabelaResultados{
	overflow:scroll;
	max-height: 200px;
}
.active{
	background-color: #c3e0ff !important;
}
.pesquisaProduto{
	text-transform: uppercase;
}
.qtd{
	max-height: 24px;
	font-size: 16px
}
.formasDePagamento{
	display: flex;
	flex-wrap: wrap;
	margin: 0 auto;
	align-items: center;
}
.divFormaPagamento{
	flex: 1 1 100px;
	background-color: #ccc;
	margin: 10px;
	height: 100px;
	display:flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	border-radius: 20px;
}
.divFormaPagamento:hover{
	background-color: #a6a6a6;
	cursor: pointer;
}
.textoDireita{
	text-align: right;
}
.select2-selection__rendered {
    line-height: 37px !important;
}
.select2-container .select2-selection--single {
    height: 37px !important;
}
.select2-selection__arrow {
    height: 37px !important;
}