body{
	overflow: hidden;
	background-color: #eaeaea !important;
}
.formLogin{
	z-index:1000;
	justify-content: center;
	align-items: center;
	border: 1px solid #eee;
	background-color: #204896;
	padding: 20px;
	border-radius: 10px;
	animation: fade 0.5s;
	max-width: 320px;
}

@media ( max-width :768px) {
	.formLogin {
		width: 90%;
	}
	.telaLogin {
	    justify-content: flex-start !important;
	}
	* {
		overflow: hidden !important;	
	}
}

label{
	font-weight: bold;
}
.telaLogin{
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}
.formLogin input{
	border-radius: 8px;
	border: 0;
	padding:10px;
	margin-bottom: 10px;	
	width: 100%;
}
.rodapeLogin{
  	bottom: 0;
    color: black;
    padding: 10px;
    width: 100%;
    position: absolute;
    display: flex;
    justify-content: space-between;
}
.infoLogin{
	padding: 0 10px 10px;
	text-align: center;
	font-size: 16px;
}

@keyframes fade {
	from{
		opacity:0.5;
		transform: scale(0.8);
	}
	to{
		opacity:1;
		transform: scale(1);
	}
}
.logo{
	display: flex;
	justify-content: center;
	z-index: 1000;
}
.logo img{
	position:relative;
	max-width: 350px;
	vertical-align: middle;
}

@keyframes up{
	from{
		opacity:0;
		transform: translateY(0);
	}
	50%{
		opacity:1;
	}
	to{
		opacity:0;
		transform: translateY(-800px) rotate(960deg);
	}	
}
.squares li{
	z-index: 100;
	background-color: rgb(84 135 196 / 46%);
	position:absolute;
	animation: up 2s infinite;
	bottom:0; 
	width: 40px;
	height: 40px;
	display:block;
}
.btn-logar {
	margin-top: 16px;
}
input:focus, select:focus {
	outline: none;
}